@font-face {
    font-family: 'Riesling';
    src: url('fonts/riesling/Riesling.eot');
    src: url('fonts/riesling/Riesling.eot?#iefix') format('embedded-opentype'),
        url('fonts/riesling/Riesling.woff2') format('woff2'),
        url('fonts/riesling/Riesling.woff') format('woff'),
        url('fonts/riesling/Riesling.ttf') format('truetype'),
        url('fonts/riesling/Riesling.svg#Riesling') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*                                                          */
/*                        INDEX PAGE                        */
/*                                                          */

body {
    margin: 0;
    background-color: #F2F2F2;
} 

* {
    font-family: 'Verdana';
    color: #006369;
    box-sizing: border-box;
}
h1, h2 {
    font-family: 'Riesling', sans-serif;
    font-weight: normal;
}

h1 {
    font-size: clamp(3rem, 0.6rem + 12vw, 4.2rem);
}
h2 {
    font-size: clamp(2.875rem, 1.625rem + 6.25vw, 3.5rem);
    text-align: center;
    margin-top: 0;
}
a {
    text-decoration: none;
    color: #006369;
}
ul {
    padding: 0;
}
li {
    list-style-type: none;
}
.center {
    text-align: center;
}

.bgc-gradient {
    background: radial-gradient(circle at 100% 0%, rgba(14, 63, 64, 1) 0%, rgba(0, 99, 105, 1) 36%, rgba(14, 63, 64, 1) 76%, rgba(0, 99, 105, 1) 101%);
}
.about h1, .about h2 {
    color: #FFF;
}
.overlay {
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.5);
}

.profile-photo, #portfolio img  {
    width: 100%;
    height: auto;
}
.container {
    width: 90%;
    margin: auto;
}
section:not(.career section):not(.about) {
    padding: 50px 0;
}

/*                          BUTTON                               */
.shine-container-btn {
    position: relative;
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.border-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-45deg);
}

.shine-container-btn--circle {
    width: 106px;
    height: 106px;
    border-radius: 55px;
}
.border-btn--circle {
    width: 150px;
    height: 150px;
    background: linear-gradient(to right, rgba(255,255,255, .2) 20%, rgba(255,255,255, .7) 40%, rgba(255,255,255, 1) 50%, rgba(255,255,255, 1) 55%, rgba(255,255,255, .7) 70%, rgba(255,255,255, .2) 100%);
    background-size: 200% auto;
    animation: shine 2000ms linear infinite;
}

.shine-container-btn--rect {
    width: 100%;
    height: 53px;
}
.border-btn--rect {
    width: 100%;
    height:100px;
    transform: rotate(0deg);
    background: linear-gradient(to right, rgba(0,99,105, .2) 20%, rgba(0,99,105, .7) 40%, rgba(0,99,105, 1) 50%, rgba(0,99,105, 1) 55%, rgba(0,99,105, .7) 70%, rgba(0,99,105, .2) 100%);
    background-size: 200% auto;
    animation: shine 2000ms linear infinite;
}

@keyframes shine {
    to {
      background-position: 200% center;
    }
}fff

.btn {
    border: solid 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
}
.btn--circle {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
.btn a, .btn {
    font-size: 1.1rem;
}
.about .btn, .more .btn, .kanap .btn, .form-res .btn {
    background-color: #4E7778;
    transform: rotate(45deg);
    display: flex;
    align-items: center;
}
#contact .btn {
    background-color: #B1CCCD;
    display: flex;
    justify-content: center;
    width: 98%;
    margin-top: 8px;
}

/*                          HEADER                               */
header {
    padding: 8px 0;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent;
    z-index: 5;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img {
    width: 30px;
    height: auto;
}
header i {
    color: #F2F2F2;
    font-size: 1.3rem;
}
.ri-close-line {
    font-size: 1.5rem;
}
.closed-menu {
    animation: hide 400ms linear forwards;
}
.opened-menu {
    animation: display 400ms linear forwards;
}
.menu {
    position: absolute;
    z-index: 4;
    right: -250px;
    background-color: white;
    bottom: -250px;
    height: 250px;
    width: 250px;
    border-bottom-left-radius: 300px;
    transform-origin: top right;
}

@keyframes display {
    0% {
        transform: translateX(0) scale(0);
    }
    100% {
        transform: translateX(-250px) scale(1);
    }
}

@keyframes hide {
    0% {
        transform: translateX(-250px);
    }
    100% {
        transform: translateX(0) scale(0);
    }
}

header ul {
    height: 100%;
    padding: 20px 0 10px 15px;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
}
.grid__first {
    grid-column: 3 / 5;
    grid-row: 1/2;
}
.grid__second {
    grid-column: 2 / 3;
    grid-row: 2/3;
}
.grid__third {
    grid-column: 4 / 5;
    grid-row: 3/4;
}

/*                      PRESENTATION                    */
.img-container {
    display: flex;
    overflow: hidden;
}
.profile-photo {
    animation: scale 900ms;
}

@keyframes scale {
    0% {
        transform: scale(1.4);
    }
    100% {
        transform: scale(1);
    }
}

.about {
    padding: 48.78px 0 50px 0;
    border-radius: 0 0 35px 35px;
}
.about h1 {
    margin: 25px 0 0 0;
}
.about h2 {
    margin-top: -10px;
}
.about .btn a, .more .btn a, .form-res .btn a {
    color: white;
    text-align: center;
}

/*                      PORTFOLIO                    */
#portfolio {
    padding-bottom: 30px;
}
figure {
    width: 95%;
    margin: 0 auto 35px auto;
}
#portfolio figure {
    max-width: 420px;
}
/* figure img {
    animation: scale 900ms;
} */
figure .img-container {
    position: relative;
}
.languages i:not(.fa-eye):not(.fa-php) {
    font-size: 2rem;
}
.fa-eye {
    font-size: 1.4rem;
}
.fa-php {
    font-size: 2.2rem;
}
.languages i {
    z-index: 1;
    color: white;
    margin-left: 5px;
}
.languages {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.languages {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 15px;
}
figure h3 {
    margin: 5px 0 5px 0;
    font-size: 0.9rem;
}
figure h4 {
    margin-top: 0;
    font-weight: normal;
    font-size: 0.9rem;
}

/*                      MORE INFORMATION                    */
.more h2 {
    width: 60%;
    margin: auto;
    color: #FFF;
    margin-bottom: 370px;
}

/*                           CONTACT                         */
form {
    width: 90%;
    max-width: 540px;
    margin: auto;
}
input, textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 8px;
    border-radius: 0;
    border: solid 1px rgba(0, 99, 105, 0.2);
    font-size: 1.1rem;
}
input:focus, textarea:focus {
    outline: none;
    border-color: #006369;
}
::placeholder {
    color: rgba(0, 99, 105, 0.45);
}
form p {
    margin-top: 0;
    font-size: 0.9rem;
}
.error {
    color: #A10010;
    border-color: #A10010;
}

/*                          ANCHOR TOP OF PAGE                 */
.anchor-top {
    border: solid 2px #0E3E40;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 100px;
    right: 15px;
    z-index: 2;
}
.ri-arrow-up-s-line {
    font-size: 2.1rem;
    color: #0E3E40;
}

/*                           FOOTER                            */
footer {
    background-color:  #0E3E40;
    padding: 20px 0 40px 0;
}
footer i {
    font-size: 1.7rem;
    color: rgba(245,245,245, 0.8);
    padding: 5px;
}


/*                                                          */
/*                       FORM PAGE                          */
/*                                                          */
.form-res {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.form-res main {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
}
.form-res p {
    text-align: center;
    width: 70%;
    font-size: 1.1rem;
    line-height: 2rem;
    color: white;
    margin-bottom: 30px;
}
.form-res .shine-container-btn {
    width: 116px;
    height: 116px;
    border-radius: 120px;
    margin: 0 auto;
}
.form-res .btn {
    width: 110px;
    height: 110px;
    border-radius: 120px;
}
.form-res .btn a {
    font-size: 1rem;
}
.form-res footer{
    width: 100%;
}
.form-res footer i{
    color: #006369;
}

/*                                                          */
/*                       CAREER PAGE                        */
/*                                                          */
.career a:not(.menu a), .career h1, .career h2, .career p, .career i:not(.anchor-top i):not(.career footer i) {
    color: white;
}
#twist span {
    color: #015459;
}

.career-grid__first {
    grid-column: 1 / 5;
    grid-row: 1/2;
}
.career-grid__second {
    grid-column: 2 / 4;
    grid-row: 2/3;
}
.career-grid__third {
    grid-column: 3 / 6;
    grid-row: 3/4;
}

.career__light-parts {
    background-color: #31aaa8;
    border-radius: 20px;
    padding: 35px 0 15px 0;
    margin-bottom: 50px;
}
#new-start .career__light-parts {
    padding-bottom: 50px;
}
#beginning  {
    padding-top: 50px;
}
.career main {
    padding: 48.78px 0 30px 0;
}
.career__illustration {
    width: 90%;
    margin: 30px auto 8px auto;
}

.line-to-right, .line-to-left {
    display: block;
    width: 75%;
    margin: 15px auto;
}

.career h2 {
    font-size: 2rem;
    width: 90%;
    margin: auto;
}
.career h2 i {
    font-size: 1.2rem;
}
.career p {
    font-size: 0.95rem;
    line-height: 1.4rem;
}

#beginning h2, #new-start h2 {
    text-align: left;
}
#twist h2, .to-be-continued {
    text-align: right;
}
#beginning p, #twist p, #new-start p:not(.box p):not(.comics + p) {
    text-align: justify;
    width: 90%;
    margin: 0 auto 20px auto;
}

.column {
    display: flex;
    flex-direction: column-reverse;
}

.comics {
    margin-bottom: 40px;
}
.box {
    width: 95%;
    max-width: 420px;
    margin: auto;
    background-color: #F2F2F2;
    padding: 8px;
    margin-bottom: 10px;
    position: relative;
}
.comics img {
    width: 100%;
}
.box p, .career footer i  {
    color:#006369;
}
.box p {
    margin-bottom: 0;
}
.box1, .box3 {
    display: flex;
    flex-direction: column-reverse;
    text-align: right;
}
.box .bubble-line {
    width: 35px;
    height: 3px;
    background-color: #006369;
    position: absolute;
}
.box1 .bubble-line, .box3 .bubble-line {
    left: 55%;
    bottom: 70%;
    transform: rotate(125deg);
}
.box2 .bubble-line, .box4 .bubble-line {
    left: 35%;
    bottom: 55%;
    transform: rotate(45deg);
}
#new-start .btn {
    background-color: #69C1C0;
    transform: rotate(45deg);
    display: flex;
    align-items: center;
    text-align: center;
}
.comics + p {
    width: 90%;
    margin: 50px auto 50px auto;
}
.column {
    transform-origin: bottom;
}
.disappear {
    animation: shrink 400ms ease-in forwards;
}
.appear {
    animation: grow 400ms ease-in forwards;
}

@keyframes shrink {
    0% {
        transform: rotate(0deg) scale(1);
    }
    100% {
        transform: rotate(360deg) scale(0);
    }
}
@keyframes grow {
    0% {
        transform: rotate(0deg) scale(0);
    }
    100% {
        transform: rotate(360deg) scale(1);
    }
}

/*                                                          */
/*                        KANAP PAGE                        */
/*                                                          */
.kanap main {
    padding-top: 48.78px;
}
.kanap h1, .kanap p {
    color: white;
}
.kanap p {
    font-size: 0.9rem;
}

.kanap h1 {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}
.kanap h1 a {
    display: inline-flex;
}
.kanap .shine-container-btn {
    width: 44px;
    height: 44px;
    margin: 0 0 0 8px;
}
.kanap .btn {
    width: 40px;
    height: 40px;
    justify-content: center;
}
.kanap h1 .ri-code-s-slash-fill {
    font-size: 2.2rem;
    color: white;
}

.kanap footer i {
    color:#006369;
}
.kanap__grid img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.hidden {
    display: none;
}

@media (min-width: 481px) {
    .about h1, .kanap h1, .career h1 {
        font-size: 3.2rem;
    }
    h2:not(.career h2) {
        font-size:3rem;
    }
    .kanap h1 .ri-code-s-slash-fill {
        font-size: 2rem;
    }
}

@media (min-width:600px) {
    header {
        padding: 15px 0;
    }
    .overlay,  header .ri-close-line, header .ri-menu-line {
        display: none;
    }
    .menu {
        position: static;
        background: transparent;
        width: 100%;
        height: auto;
    }
    header ul {
        display: flex;
        padding: 0;
        justify-content: flex-end;
    }
    header li {
        margin-left: 35px;
    }
    header li a {
        color: white;
    }
    .career header li a {
        font-size: 0.9rem;
    }
    #contact .btn {
        width: 98.5%;
    }

    .shine-container-btn--circle {
        width: 96px;
        height: 96px;
    }
    .shine-container-btn--rect {
        height: 50px;
    }
    #contact .btn {
        width: 99%;
    }
    .border-btn--circle {
        width: 200px;
    }
    .btn--circle {
        width: 90px;
        height: 90px;
    }
    .btn, .btn a {
        font-size: 1rem;
    }

    .about {
        display: flex;
        flex-direction: row-reverse;
        padding: 62.81px 0 0 0;
    }
    .about .img-container {
        width: 55%;
    }
    .profile-photo {
        border-bottom-right-radius: 30px;
    }
    .about .container:not(header .container) {
        width: 45%;
        display: flex;
        flex-direction: column;
        margin: auto;
        justify-content: center;
    }
    .about h1 {
        font-size: 2.8rem;
        margin: 0 0 10px 0;
    }
    .about h2 {
        font-size: 2.4rem;
    }
    .career h1 {
        margin: 70px 0 60px 0;
    }

    .portfolio__container {
        display: flex;
        justify-content: space-between;
        margin: auto;
        width: 95%;
        flex-wrap: wrap;
    }
    .portfolio__container a {
        width: 48%;
    }
    .portfolio__container figure {
        width: 100%;
    }
    .languages:not(.languages:last-of-type) {
        padding: 5px;
    }
    .languages:last-of-type {
        padding: 0;
    }
    .languages i:not(.fa-eye):not(.fa-php) {
        font-size: 1.5rem;
    }
    .fa-eye {
        font-size: 1.2rem;
    }
    .fa-php {
        font-size: 1.7rem;
    }

    .more h2 {
        margin-bottom: 250px;
    }

    .comics {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        margin: auto;
    }
    .box p {
        margin: 0;
        text-align: center;
    }
    .box {
        height: 341px;
        display: flex;
        justify-content: space-between;
    }
    .box1, .box3 {
        flex-direction: column-reverse;
    }
    .box1 {
        width: 39%;
    }
    .box1 .bubble-line {
        left: 55%;
        bottom: 60%;
    }
    .box2, .box4 {
        flex-direction: column;
        align-items: flex-end;
    }
    .box2 {
        width: 59%;
    }
    .box2 .bubble-line, .box4 .bubble-line {
        left: 45%;
        bottom: 50%;
    }
    .box2 img {
        width: 220px;
    }
    .box3 {
        width: 45%;
    }
    .box3 img {
        float: left;
    }
    .box4 {
        width: 53%;
    }
    .box4 img {
        width: 230px;
    }

    .kanap main {
        padding-bottom: 50px;
    }
    .kanap__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 2%;
        width: 95%;
        margin: auto;
        padding: 50px 0 70px 0;
    }
    .kanap__grid figure {
        width: 100%;
        margin-bottom: 0;
    }
    .kanap-grid__first {
        grid-column: 1 / 3;
        grid-row: 1/2;
    }
    .kanap-grid__second {
        grid-column: 1/ 2;
        grid-row: 2/3;
    }
    .kanap-grid__third {
        grid-column: 2 / 3;
        grid-row: 2/3;
    }
    .kanap-grid__fourth {
        grid-column: 1 / 2;
        grid-row: 3/4;
    }
    .kanap-grid__fifth {
        grid-column: 2 / 3;
        grid-row: 3/4;
    }
}

@media (min-width: 770px) {
    header img {
        width: 37px;
    }
    .about {
        padding-top: 69.7px;
    }
    .about h1 {
        font-size: 3.2rem;
    }

    .career main {
        padding-bottom: 50px;
    }
    .career h1 {
        margin-top: 80px;
    }
    #beginning {
        padding-top: 60px;
    }
}

@media (min-width: 900px) {
    header li a, .career header li a {
        font-size: 1.1rem;
    }
    .about h1, .career h1 {
        font-size: 4rem;
    }
    h2:not(.career h2) {
        font-size: 3.7rem;
    }
    .career h2 {
        font-size: 3.2rem;
        width: 95%;
        margin-top: 15px;
    }

    .shine-container-btn--circle {
        width: 106px;
        height: 106px;
    }
    .btn--circle {
        width: 100px;
        height: 100px;
    }
    .btn, .btn a {
        font-size: 1.1rem;
    }

    .line-to-left, .line-to-right, .career h2 i {
        display: none;
    }
    .career__light-parts {
        background-color: transparent;
        border-radius: 0;
        margin: 0; 
    }
    .career .column {
        display: block;
    }
    .career p {
        font-size: 18.25px;
        line-height: 30px;
    }
    #beginning, #twist, #new-start {
        background-color: #31aaa8;
        margin-bottom: 70px;
        width: 95%;
        padding: 30px 0;
    }
    #beginning, #new-start {
        border-bottom-right-radius: 500px;
    }
    #beginning {
        margin-top: 80px;
    }
    #twist {
        margin-left: 5%;
        border-bottom-left-radius: 500px;
    }
    #nex-start {
        padding-bottom: 70px;
    }
    #beginning p, #twist p, #new-start p {
        width: 95%;
    }
    .career img:not(.comics img) {
        width: 50%;
    }

    #beginning p, #new-start p:not(.comics p) {
        margin-left: 2.5%;
        text-align: left;
    }
    #beginning .career__illustration, #new-start .career__illustration {
        right: 0;
    }
    #new-start .career__illustration {
        margin: 0;
        bottom: 0;
        width: 35%;
    }
    #beginning .third-p, #beginning .fifth-p, #beginning .sixth-p {
        width: 50%;
    }
    #beginning .fourth-p {
        width: 45%;
    }

    .career .column {
        position: relative;
    }
    #twist p {
        margin-right: 2.5%;
        text-align: right;
    }
    #twist .third-p {
        width: 75%;
    }
    #twist .fourth-p {
        width: 45%;
    }
    #twist .fifth-p {
        width: 50%;
    }
    .career__illustration {
        position: absolute;
        bottom: 0;
    }

    .comics {
        width: 95%;
    }
    .comics img {
        width: 350px;
    }
    .box {
        height: 440px;
        max-width: 700px;
        padding: 20px;
    }
    .box1 {
        border-top-left-radius: 50px;
    }
    .box2 {
        border-top-right-radius: 50px;
    }
    .box3 {
        border-bottom-left-radius: 50px;
    }
    .box4 {
        border-bottom-right-radius: 50px;
    }
    .box2 p, .box4 p {
        text-align: left;
    }
    .comics + p {
        margin: 70px auto;
    }
    /* #new-start .shine-container-btn {
        margin-left: 2.5%;
    } */
}