@font-face {
    font-family: 'Riesling';
    src: url('fonts/riesling/Riesling.eot');
    src: url('fonts/riesling/Riesling.eot?#iefix') format('embedded-opentype'),
        url('fonts/riesling/Riesling.woff2') format('woff2'),
        url('fonts/riesling/Riesling.woff') format('woff'),
        url('fonts/riesling/Riesling.ttf') format('truetype'),
        url('fonts/riesling/Riesling.svg#Riesling') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*                                                          */
/*                        INDEX PAGE                        */
/*                                                          */

body {
    margin: 0;
    background-color: #F2F2F2;
} 

* {
    font-family: 'Verdana';
    color: #006369;
    box-sizing: border-box;
}
h1, h2 {
    font-family: 'Riesling', sans-serif;
    font-weight: normal;
}

h1 {
    font-size: clamp(3rem, 0.6rem + 12vw, 4.2rem);
}
h2 {
    font-size: clamp(3rem, 2rem + 5vw, 3.5rem);
    text-align: center;
    margin-top: 0;
}
a {
    text-decoration: none;
    color: #006369;
}
ul {
    padding: 0;
}
li {
    list-style-type: none;
}
.center {
    text-align: center;
}

.bgc-gradient {
    background: radial-gradient(circle at 100% 0%, rgba(14, 63, 64, 1) 0%, rgba(0, 99, 105, 1) 36%, rgba(14, 63, 64, 1) 76%, rgba(0, 99, 105, 1) 101%);
}
.about h1, .about h2 {
    color: #FFF;
}
.overlay {
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.5);
}

.profile-photo, #portfolio img  {
    width: 100%;
    height: auto;
}
.container {
    width: 90%;
    margin: auto;
}
section:not(.career section):not(.about) {
    padding: 50px 0;
}

/*                          BUTTON                               */
.shine-container-btn {
    position: relative;
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.border-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-45deg);
}

.shine-container-btn--circle {
    width: 106px;
    height: 106px;
    border-radius: 55px;
}
.border-btn--circle {
    width: 150px;
    height: 150px;
    background: linear-gradient(to right, rgba(255,255,255, .2) 20%, rgba(255,255,255, .7) 40%, rgba(255,255,255, 1) 50%, rgba(255,255,255, 1) 55%, rgba(255,255,255, .7) 70%, rgba(255,255,255, .2) 100%);
    background-size: 200% auto;
    animation: shine 2000ms linear infinite;
}

.shine-container-btn--rect {
    width: 100%;
    height: 53px;
}
.border-btn--rect {
    width: 100%;
    height:100px;
    transform: rotate(0deg);
    background: linear-gradient(to right, rgba(0,99,105, .2) 20%, rgba(0,99,105, .7) 40%, rgba(0,99,105, 1) 50%, rgba(0,99,105, 1) 55%, rgba(0,99,105, .7) 70%, rgba(0,99,105, .2) 100%);
    background-size: 200% auto;
    animation: shine 2000ms linear infinite;
}

@keyframes shine {
    to {
      background-position: 200% center;
    }
}fff

.btn {
    border: solid 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
}
.btn--circle {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
.about .btn, .more .btn {
    background-color: #4E7778;
    transform: rotate(45deg);
    display: flex;
    align-items: center;
}
#contact .btn {
    background-color: #B1CCCD;
    display: flex;
    justify-content: center;
    width: 98%;
    margin-top: 8px;
}

/*                          HEADER                               */
header {
    padding: 8px 0;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent;
    z-index: 6;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img {
    width: 30px;
    height: auto;
}
header i {
    color: #F2F2F2;
    font-size: 1.3rem;
}
.ri-close-line {
    font-size: 1.5rem;
}
.closed-menu {
    animation: hide 400ms linear forwards;
}
.opened-menu {
    animation: display 400ms linear;
}
.menu {
    position: absolute;
    z-index: 4;
    right: 0;
    background-color: white;
    bottom: -250px;
    height: 250px;
    width: 250px;
    border-bottom-left-radius: 300px;
    transform-origin: top right;
}

@keyframes display {
    0% {
        transform: translateX(250px) scale(0);
    }
    100% {
        transform: translateX(0) scale(1);
    }
}

@keyframes hide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(250px) scale(0);
    }
}

header ul {
    height: 100%;
    padding: 20px 0 10px 15px;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
}
.grid__first {
    grid-column: 3 / 5;
    grid-row: 1/2;
}
.grid__second {
    grid-column: 2 / 3;
    grid-row: 2/3;
}
.grid__third {
    grid-column: 4 / 5;
    grid-row: 3/4;
}

/*                      PRESENTATION                    */
.img-container {
    display: flex;
    overflow: hidden;
}
.profile-photo {
    animation: scale 900ms;
}

@keyframes scale {
    0% {
        transform: scale(1.4);
    }
    100% {
        transform: scale(1);
    }
}

.about {
    padding: 48.78px 0 50px 0;
    border-radius: 0 0 35px 35px;
}
.about h1 {
    margin: 25px 0 0 0;
}
.about h2 {
    margin-top: -10px;
}
.about .btn a, .more .btn a {
    color: white;
    text-align: center;
}

/*                      PORTFOLIO                    */
#portfolio {
    padding-bottom: 30px;
}
figure {
    width: 95%;
    margin: 0 auto 35px auto;
}
figure img {
    animation: scale 900ms;
}
figure .img-container {
    position: relative;
}
.languages i:not(.fa-eye):not(.fa-php) {
    font-size: 1.7rem;
}
.fa-eye {
    font-size: 1.2rem;
}
.fa-php {
    font-size: 1.9rem;
}
.languages i {
    z-index: 1;
    color: white;
    margin-left: 5px;
}
.languages, .triangle {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 80px;
    height: 80px;
}
.languages {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 15px;
}
.triangle {
    display : inline-block;
    height : 0;
    width : 0;
    border-bottom : 100px solid rgba(14, 63, 64, .45);
    border-left : 140px solid transparent;
}
figure h3 {
    margin: 5px 0 5px 0;
    font-size: 0.9rem;
}
figure h4 {
    margin-top: 0;
    font-weight: normal;
    font-size: 0.9rem;
}

/*                      MORE INFORMATION                    */
.more h2 {
    width: 60%;
    margin: auto;
    color: #FFF;
    margin-bottom: 370px;
}

/*                           CONTACT                         */
form {
    width: 90%;
    margin: auto;
}
input, textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 8px;
    border-radius: 0;
    border: solid 1px rgba(0, 99, 105, 0.2);
    font-size: 1.1rem;
}
::placeholder {
    color: rgba(0, 99, 105, 0.45);
}

/*                           FOOTER                         */
footer {
    background-color:  #0E3E40;
    padding: 20px 0 40px 0;
}
footer i {
    font-size: 1.7rem;
    color: rgba(245,245,245, 0.8);
    padding: 5px;
}


/*                                                          */
/*                       CAREER PAGE                        */
/*                                                          */
.career a:not(.menu a), .career h1, .career h2, .career p, .career i {
    color: white;
}
#twist span {
    color: #015459;
}

.career-grid__first {
    grid-column: 1 / 5;
    grid-row: 1/2;
}
.career-grid__second {
    grid-column: 2 / 4;
    grid-row: 2/3;
}
.career-grid__third {
    grid-column: 3 / 6;
    grid-row: 3/4;
}

.career__light-parts {
    background-color: #31aaa8;
    border-radius: 20px;
    padding: 35px 0 15px 0;
    margin-bottom: 50px;
}
#new-start .career__light-parts {
    padding-bottom: 50px;
}
#beginning  {
    padding-top: 50px;
}
.career main {
    padding: 48.78px 0 30px 0;
}
.career__illustration {
    width: 90%;
    margin: 30px auto 8px auto;
}

.line-to-right, .line-to-left {
    display: block;
    width: 75%;
    margin: 15px auto;
}

.career h2 {
    font-size: 2rem;
    width: 90%;
    margin: auto;
}
.career h2 i {
    font-size: 1.2rem;
}
.career p {
    font-size: 0.95rem;
    line-height: 1.4rem;
}

#beginning h2, #new-start h2 {
    text-align: left;
}
#twist h2, .to-be-continued {
    text-align: right;
}
#beginning .career__light-parts p, #twist .career__light-parts p, #new-start .career__light-parts p:not(.box p):not(.comics + p) {
    text-align: justify;
    width: 90%;
    margin: 0 auto 20px auto;
}

.column {
    display: flex;
    flex-direction: column-reverse;
}

.comics {
    margin-bottom: 40px;
}
.box {
    width: 95%;
    margin: auto;
    background-color: #F2F2F2;
    padding: 8px;
    margin-bottom: 10px;
    position: relative;
}
.comics img {
    width: 100%;
}
.box p, .career footer i  {
    color:#006369;
}
.box p {
    margin-bottom: 0;
}
.box1, .box3 {
    display: flex;
    flex-direction: column-reverse;
    text-align: right;
}
.box .bubble-line {
    width: 35px;
    height: 3px;
    background-color: #006369;
    position: absolute;
}
.box1 .bubble-line, .box3 .bubble-line {
    left: 55%;
    bottom: 70%;
    transform: rotate(125deg);
}
.box2 .bubble-line, .box4 .bubble-line {
    left: 35%;
    bottom: 55%;
    transform: rotate(45deg);
}
#new-start .btn {
    background-color: #69C1C0;
    transform: rotate(45deg);
    display: flex;
    align-items: center;
    text-align: center;
}
.comics + p {
    width: 90%;
    margin: 50px auto 50px auto;
}
.column {
    transform-origin: bottom;
}
.disappear {
    animation: shrink 400ms ease-in forwards;
}
.appear {
    animation: grow 400ms ease-in forwards;
}

@keyframes shrink {
    0% {
        transform: rotate(0deg) scale(1);
    }
    100% {
        transform: rotate(360deg) scale(0);
    }
}
@keyframes grow {
    0% {
        transform: rotate(0deg) scale(0);
    }
    100% {
        transform: rotate(360deg) scale(1);
    }
}

/*                                                          */
/*                        KANAP PAGE                        */
/*                                                          */
.kanap main {
    padding-top: 48.78px;
}
.carousel--desktop {
    display: none;
}
#carousel {
    padding: 0;
    overflow: hidden;
    position: relative;
}
.carousel--mobile {
    width: 400%;
    display: flex;
}
.carousel--mobile img {
    width: 100%;
}
#carousel ul {
    margin: 0;
}
#carousel li {
    display: inline-flex;
}

.chevron-right, .chevron-left {
    border: solid 3px #006369;
    border-radius: 30px;
    width: 35px;
    height: 35px;
    position: absolute;
    top: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ri-arrow-left-s-line, .ri-arrow-right-s-line {
    font-size: 1.8rem;
}
#carousel .chevron-left  {
    left: 5%;
}
#carousel .chevron-right {
    right: 5%;
}


.carousel__description {
    position: absolute;
    bottom: 0;
    background-color: rgba(14, 63, 64, .45);
    text-align: center;
    padding: 8px;
}
.carousel__description .title {
    display: flex;
    align-items: center;
    justify-content: center;
}
.carousel__description h1 {
    margin: 0;
}
.carousel__description h1, .carousel__description p, .btn .ri-github-fill {
    color: white;
}
.carousel__description p {
    font-size: 0.9rem;
    margin: 5px auto 30px auto;
}
.carousel__description .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(45deg);
    width: 34px;
    height: 34px;
    background-color: #8C9A9C;
}
.carousel__description .shine-container-btn {
    width: 38px;
    height: 38px;
    margin: 0 5px;
}
.carousel__description .btn a {
    display: inline-flex;
}
.btn .ri-github-fill {
    font-size: 1.4rem;
}

.ri-checkbox-blank-circle-fill {
    font-size: 0.8rem;
}
.white {
    color: white;
}

.kanap footer i {
    color:#006369;
}


.hidden {
    display: none;
}